# MacOS
.DS_Store

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/npm-debug.log*
mobile/yarn-debug.log*
mobile/yarn-error.log*
mobile/eas-build-pre-install.log
mobile/.env.local
mobile/.env.*.local
mobile/ios/
mobile/android/

# Backend
backend/venv/
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.env
backend/db.sqlite3
backend/media/
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
